<h2>Project</h2>

<div class="row" data-ng-app="app" data-ng-controller="projectController">

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cod</th>
                <th>Date Initial</th>
                <th>Date End</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="row in rows">
                <td>
                    <span data-ng-bind="row.Id"></span>
                </td>
                <td>
                    <span data-ng-bind="row.Cod"></span>
                </td>
                <td>
                    <span data-ng-bind="row.DateInitial | date : 'MMM dd yyyy - hh:mm:ss a'"></span>
                </td>
                <td>
                    <span data-ng-bind="row.DateEnd | date : 'MMM dd yyyy - hh:mm:ss a'"></span>
                </td>
            </tr>
        </tbody>
    </table>

</div>


@Scripts.Render("~/bundles/angularproject")